/* Global styles */

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #616368;
    font-weight: 400;

    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}


/* Section */

.section {
    padding: 60px 0;
}

.section--u-features {
    padding: 180px 0 170px;
}

.section--u-features {
    padding: 180px 0 50px;
}

.section--question {
    padding: 180px 0 110px;
}

.section--download {
    padding: 90px 0 108px;
    border-top: 1px solid #f4f4f4;
}

.section__title {
    font-size: 36px;
    line-height: 46px;
    color: #242f51;
    font-weight: 600;
}

.section__title--lg {
    font-size: 40px;
    line-height: 58px;
}

.section__title--xl {
    font-size: 48px;
    line-height: 58px;
}

.section__title + p {
    margin-top: 16px;
}

.section__title--lg + p {
    margin-top: 22px;
}

.section__title--xl + p {
    margin-top: 24px;
}

.section__btn {
    padding: 16px 58px;

    border: 1px solid transparent;
    border-radius: 29px;
    background-color: #2500f9;

    font-size: 16px;
    color: #ffffff;
    font-weight: 700;

    transition: all .2s linear;
}

.section__btn--u-features {
    margin-left: 9px;
}

.section__btn:hover {
    border-color: #2500f9;
    background: #fff;

    color: #2500f9
}
