/* Global styles */

.daniils-stylespace {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #616368;
    font-weight: 400;

    overflow-x: hidden;
}

.daniils-stylespace .container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}


/* Section */

.daniils-stylespace .section {
    padding: 60px 0;
}

.daniils-stylespace .section--u-features {
    padding: 180px 0 170px;
}

.daniils-stylespace .section--u-features {
    padding: 180px 0 50px;
}

.daniils-stylespace .section--question {
    padding: 180px 0 110px;
}

.daniils-stylespace .section--download {
    padding: 90px 0 108px;
    border-top: 1px solid #f4f4f4;
}

.daniils-stylespace .section__title {
    font-size: 36px;
    line-height: 46px;
    color: #242f51;
    font-weight: 600;
}

.daniils-stylespace .section__title--lg {
    font-size: 40px;
    line-height: 58px;
}

.daniils-stylespace .section__title--xl {
    font-size: 48px;
    line-height: 58px;
}

.daniils-stylespace .section__title + p {
    margin-top: 16px;
}

.daniils-stylespace .section__title--lg + p {
    margin-top: 22px;
}

.daniils-stylespace .section__title--xl + p {
    margin-top: 24px;
}

.daniils-stylespace .section__btn {
    padding: 16px 58px;

    border: 1px solid transparent;
    border-radius: 29px;
    background-color: #2500f9;

    font-size: 16px;
    color: #ffffff;
    font-weight: 700;

    transition: all .2s linear;
}

.daniils-stylespace .section__btn--u-features {
    margin-left: 9px;
}

.daniils-stylespace .section__btn:hover {
    background-color: #8e7aff;
}
