* {
  margin-top: 0;
  padding: 0;
}

.engaging:hover {
    background-color: #86878b;
    border-style: groove;
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: inherit;
}

.nav-link > p:hover {
    color:#2500f9;
}

.watch-demo > p:hover {
    text-decoration: underline;
}

.home-section-wrapper {
    height: 1040px;
    padding: 0 20px;
    background-image: url('city.png'),  url('gray-dots.png');
    background-position-y: bottom, center;
    background-position-x: left, -130px;
    background-repeat: repeat-x, no-repeat;
    display: flex;
    justify-content: center;
}

.home-section {
    background-image: url('redbubble.png');
    background-size: 135%;
    background-position-x: -305px;
    background-position-y: 175px;
    background-repeat: no-repeat;
}

#navigation-header {
    border-bottom: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#main-logo {
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    /* line-height: 32px; */
    width: 116px;
    margin-top: 95px; /*default = 14px*/
}

#logo {
    margin-right: 327px;
    /* display: inline-block */
}


.nav-buttons {
    width: 460px;
    height: 16px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 44px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */

}

p.black-text {
    margin-top: 100px;
}

.nav-button {
    margin-right: 36px;

    /* padding: 0; */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-basis: 100%;
}

.try-btn-box {
    height: auto;
    width: auto;
    text-align: center;
    margin-top: 92px;
    margin-left: 56px;

}

.try-button {
/*     display: flex;
    flex-basis: content; */
    background-color: #2500f9;
    border: none;
    display:block;
    height: 57px;
    width: 170px;
    /* margin-right: 215px; */

    border-radius: 999px

}

.try-btn-text {
    color: white;
    /* height: 18px; */
    font-family: "Poppins";
    font-size: 17px;
    font-weight: bold;
}
/*
.last-el {
    margin-right: 56px;
} */

.black-text {
    color: black;
    white-space: nowrap;
}

#orange-text {
    color: orange;
}

.acheivements {
    margin-left: 30px; /*285-215*/
    height: 732px;
}

.pic-wrapper {
    margin-top: 40px;
    padding-top: 230px;
    background-image:url("phone1.png");
    background-repeat: no-repeat;
    background-position-x: 660px;
    /* background-color: #2500f9; */
}

.editors-choice {
    font-family: "Poppins";
    background-color: #e2eaed;
    width: fit-content;
    max-width: 362px;
    height: 36px;
    display: flex;
    border-radius: 999px;
    margin-bottom: 18px;
}

/* .editors-choice-text {
    margin-top: .3em;
} */

.centered {
    /* transform: translate(50%,); */
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.best-app-for-lifestyle {
    font-family: "Poppins";
    font-style: bold;
}

.editors-choice-text {
    display: flex;
    align-items: center;
    /* padding-right: 48px; */
    /* justify-content: center; */
}

.editors-choice-text p{
    white-space: nowrap;
    font-size: 18px;
    margin: 0 48px 0 10px;
    color: #242f51;
    font-weight: 500;
}

.best-app-for-lifestyle > h1 {
    font-size: 60px;
    line-height: 65px;
    font-weight: 600;
    color: #242f51;
    margin-bottom: 0;
}



.checkmark {
    background-color: orange;
    border-radius: inherit;
    width: 39px;
    min-width: 39px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkmark > svg {
    color: #ffff;
}

.acheivements > p, .awesome-app-features > p {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #616368;
    margin-top: calc(45px - 21px);
    margin-bottom: 40px;
}

.flex-row-container {
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex-row-container p {
    font-family: 'Poppins';
    color: #2500f9;
    margin: 0;
    font-weight: 500;
}

.trusted-by {
    margin-top: 110px;
    size: fit-content fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trusted-by > p {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins';
    margin-bottom: 35px;
}

.companies {
    list-style: none;
    margin-bottom: 0;
    width: 935px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.southwest > img {
    width: 133px;
    height: 42px;
}

.anubis > img {
    width: 118px;
    height: 84px;
}

.alonzo > img {
    width: 151px;
    height: 58px;
}

.premium > img {
    width: 123px;
    height: 71px;
}

.maniac > img {
    width: 147px;
    height: 51;
}

.features-section-wrapper {
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.features-section {
    width: 955px;
    display: flex;
    justify-content: flex-end;
    background-image: url(phone_features.png);
    background-repeat: no-repeat;
    background-position-y: 155px;
    background-position-x: -230px;
}

.awesome-app-features {
    padding-top: 200px;
    padding-right: 60px;
    width: fit-content;
}

.awesome-app-features h1 {
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 0;
}

.awesome-app-features > p {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 85px;
}

.fast-performance, .prototyping, .vector-editing {
    height: 105px;
    width: 380px;
    display: flex;
    justify-content: space-between;
}

.fast-performance, .prototyping {
    margin-bottom: 60px;
}

.circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fast-performance .circle {
    background-color: #ffecef;
    margin-top: 20px;
}

.fast-performance .text {
    width: fit-content;
}

.fast-performance p {
    color: #F55767;
}

p.heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

div.text {
    /* word-wrap:; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #616368;
}

.prototyping p {
    color: #2563ff;
}

.vector-editing .heading{
    color: #40975f;
}

.prototyping .circle {
    background-color: #f4f4ff;
    margin-top: 15px;
}

.vector-editing .circle {
    background-color: #f4f4ff;
    margin-top: 10px;
}

/*Anna*/

.text-app{
    font-family: 'Poppins';
    text-align: center;
}

.text-app-1{
    position: absolute;
    width: 462px;
    height: 93px;
    left: 569px;
    top: 3716px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #242F51;
}

.text-app-2{
    position: absolute;
    width: 662px;
    height: 53px;
    left: 469px;
    top: 3833px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #616368;
}

.round-pink{
    position: absolute;
    left: 400px;
    top: 3978px;
}

.for-pink{
    position: absolute;
    left: 415px;
    top: 3993px;
}

.pink-text-1{
    position: absolute;
    width: 213px;
    height: 58px;
    left: 340px;
    top: 4083px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #242F51;
}

.pink-text-2{
    position: absolute;
    width: 288px;
    height: 80px;
    left: 305px;
    top: 4128px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #616368;
}

.round-blue{
    position: absolute;
    left: 755px;
    top: 3978px;
}

.for-blue{
    position: absolute;
    left: 775px;
    top: 3993px;
}

.blue-text-1{
    position: absolute;
    width: 185px;
    height: 58px;
    left: 710px;
    top: 4082px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #242F51;
}

.blue-text-2{
    position: absolute;
    width: 288px;
    height: 80px;
    left: 660px;
    top: 4128px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #616368;
}

.round-yel{
    position: absolute;
    left: 1105px;
    top: 3978px;
}

.for-yel{
    position: absolute;
    left: 1120px;
    top: 3993px;
}

.yel-text-1{
    position: absolute;
    width: 174px;
    height: 58px;
    left: 1075px;
    top: 4083px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 58px;
    display: flex;
    align-items: center;
    color: #242F51;
}

.yel-text-2{
    position: absolute;
    width: 288px;
    height: 80px;
    left: 1010px;
    top: 4128px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #616368;
}

.round-green{
    position: absolute;
    left: 400px;
    top: 4278px;
}

.for-green{
    position: absolute;
    left: 415px;
    top: 4293px;
}

.green-text-1{
    position: absolute;
    width: 178px;
    height: 58px;
    left: 355px;
    top: 4382px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #242F51;
}

.green-text-2{
    position: absolute;
    width: 288px;
    height: 80px;
    left: 305px;
    top: 4428px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #616368;
}

.round-perpl{
    position: absolute;
    left: 755px;
    top: 4278px;
}

.for-purpl{
    position: absolute;
    left: 775px;
    top: 4293px;
}

.perpl-text-1{
    position: absolute;
    width: 149px;
    height: 58px;
    left: 740px;
    top: 4382px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 58px;
    display: flex;
    align-items: center;
    color: #242F51;
}

.perpl-text-2{
    position: absolute;
    width: 288px;
    height: 80px;
    left: 660px;
    top: 4428px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #616368;
}

.round-orange{
    position: absolute;
    left: 1105px;
    top: 4278px;
}

.for-orange{
    position: absolute;
    left: 1120px;
    top: 4294px;
}

.orange-text-1{
    position: absolute;
    width: 217px;
    height: 58px;
    left: 1060px;
    top: 4383px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 58px;
    display: flex;
    align-items: center;
    color: #242F51;
}

.orange-text-2{
    position: absolute;
    width: 288px;
    height: 80px;
    left: 1010px;
    top: 4428px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #616368;
}

.materik{
    position: absolute;
    top: 7005px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  position: absolute;
  width: 143px;
  height: 21px;
  left: 860px;
  top: 7114px;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  display: flex;
  align-items: center;
  color: #FFCC00;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.face-1{
    position: absolute;
    top: 7034px;
    left: -132px;
}

.face-2{
    position: absolute;
    top: 7216px;
    left: -84px;
}

.face-3{
    position: absolute;
    top: 6990px;
    left: 220px;
}

.face-4{
    position: absolute;
    top: 7165px;
    left: 230px;
}

.face-5{
    position: absolute;
    top: 7375px;
    left: 185px;
}

.face-6{
    position: absolute;
    top: 7225px;
    left: 385px;
}

.face-7{
    position: absolute;
    top: 7035px;
    left: 545px;
}

.face-8{
    position: absolute;
    top: 7390px;
    left: 810px;
}

.text-prod-1{
    position: absolute;
    width: 507px;
    height: 101px;
    left: 800px;
    top: 6900px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    text-align: left;
    align-items: center;
    color: #242F51;
}

.text-prod-2{
    position: absolute;
    width: 504px;
    height: 53px;
    left: 800px;
    top: 7020px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    text-align: left;
    align-items: center;
    color: #616368;
}

.text-prod-3{
    position: absolute;
    width: 319px;
    height: 58px;
    left: 800px;
    top: 7145px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 58px;
    display: flex;
    align-items: center;
    color: #242F51;
}

.text-prod-4{
    position: absolute;
    width: 593px;
    height: 130px;
    left: 800px;
    top: 7205px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    text-align: left;
    align-items: center;
    color: #616368;
}

.text-prod-5{
    position: absolute;
    width: 165px;
    height: 58px;
    left: 925px;
    top: 7405px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 58px;
    display: flex;
    align-items: center;
    color: #242F51;
}

.text-prod-6{
    position: absolute;
    width: 176px;
    height: 28px;
    left: 925px;
    top: 7450px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #616368;
}

.light:hover {
    background-color: lightskyblue;
    border-style: groove;
    cursor: pointer;
}

.left-but-arrow{
    position: absolute;
    border: solid;
    border-color: #DEE1E6;
    display:block;
    height: 53px;
    width: 53px;
    left: 1270px;
    top: 7430px;
    border-radius: 50%;
}

.left-arrow{
    position: absolute;
    left: 1285px;
    top: 7447px;
    height: 20px;
    width: 20px;
    color: #DEE1E6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-but-arrow{
    position: absolute;
    border: none;
    background-color: #DEE1E6;
    display:block;
    height: 50px;
    width: 50px;
    left: 1350px;
    top: 7430px;
    border-radius: 50%;
}

.right-arrow{
    position: absolute;
    left: 1367px;
    top: 7447px;
    height: 20px;
    width: 20px;
    color: #2500F9;
}

.line-1{
    position: absolute;
    width: 3px;
    height: 45px;
    left: 1335px;
    top: 7435px;
    background: #E7E7E7;
}
