@import "css/style.css";
@import "css/global.css";
@import "css/reset.css";

* {
  margin-top: 0;
  padding: 0;
}

.engaging:hover {
    background-color: #86878b;
    border-style: groove;
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: inherit;
}

.nav-link > p:hover {
    color:#2500f9;
}

.watch-demo > p:hover {
    text-decoration: underline;
}

.home-section-wrapper {
    height: 1040px;
    padding: 0 20px;
    background-image: url('img/city.png'),  url('img/gray-dots.png');
    background-position-y: bottom, center;
    background-position-x: left, -130px;
    background-repeat: repeat-x, no-repeat;
    display: flex;
    justify-content: center;
}

.home-section {
    background-image: url('img/redbubble.png');
    background-size: 135%;
    background-position-x: -305px;
    background-position-y: 175px;
    background-repeat: no-repeat;
}

#navigation-header {
    border-bottom: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#main-logo {
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    /* line-height: 32px; */
    width: 116px;
    margin-top: 95px; /*default = 14px*/
}

#logo {
    margin-right: 327px;
    /* display: inline-block */
}


.nav-buttons {
    width: 460px;
    height: 16px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 44px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */

}

p.black-text {
    margin-top: 100px;
}

.nav-button {
    margin-right: 36px;

    /* padding: 0; */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-basis: 100%;
}

.try-btn-box {
    height: auto;
    width: auto;
    text-align: center;
    margin-top: 92px;
    margin-left: 56px;

}

.try-button {
/*     display: flex;
    flex-basis: content; */
    background-color: #2500f9;
    border: none;
    display:block;
    height: 57px;
    width: 170px;
    /* margin-right: 215px; */

    border-radius: 999px

}

.try-btn-text {
    color: white;
    /* height: 18px; */
    font-family: "Poppins";
    font-size: 17px;
    font-weight: bold;
}
/*
.last-el {
    margin-right: 56px;
} */

.black-text {
    color: black;
    white-space: nowrap;
}

#orange-text {
    color: orange;
}

.acheivements {
    margin-left: 30px; /*285-215*/
    height: 732px;
}

.pic-wrapper {
    margin-top: 40px;
    padding-top: 230px;
    background-image:url("img/phone1.png");
    background-repeat: no-repeat;
    background-position-x: 660px;
    /* background-color: #2500f9; */
}

.editors-choice {
    font-family: "Poppins";
    background-color: #e2eaed;
    width: fit-content;
    max-width: 362px;
    height: 36px;
    display: flex;
    border-radius: 999px;
    margin-bottom: 18px;
}

/* .editors-choice-text {
    margin-top: .3em;
} */

.centered {
    /* transform: translate(50%,); */
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.best-app-for-lifestyle {
    font-family: "Poppins";
    font-style: bold;
}

.editors-choice-text {
    display: flex;
    align-items: center;
    /* padding-right: 48px; */
    /* justify-content: center; */
}

.editors-choice-text p{
    white-space: nowrap;
    font-size: 18px;
    margin: 0 48px 0 10px;
    color: #242f51;
    font-weight: 500;
}

.best-app-for-lifestyle > h1 {
    font-size: 60px;
    line-height: 65px;
    font-weight: 600;
    color: #242f51;
    margin-bottom: 0;
}



.checkmark {
    background-color: orange;
    border-radius: inherit;
    width: 39px;
    min-width: 39px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkmark > svg {
    color: #ffff;
}

.acheivements > p, .awesome-app-features > p {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #616368;
    margin-top: calc(45px - 21px);
    margin-bottom: 40px;
}

.flex-row-container {
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex-row-container p {
    font-family: 'Poppins';
    color: #2500f9;
    margin: 0;
    font-weight: 500;
}

.trusted-by {
    margin-top: 110px;
    size: fit-content fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trusted-by > p {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins';
    margin-bottom: 35px;
}

.companies {
    list-style: none;
    margin-bottom: 0;
    width: 935px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.southwest > img {
    width: 133px;
    height: 42px;
}

.anubis > img {
    width: 118px;
    height: 84px;
}

.alonzo > img {
    width: 151px;
    height: 58px;
}

.premium > img {
    width: 123px;
    height: 71px;
}

.maniac > img {
    width: 147px;
    height: 51;
}

.features-section-wrapper {
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.features-section {
    width: 495px;
    display: flex;
    justify-content: flex-end;
/*     background-image: url('img/phone_features.png');
    background-repeat: no-repeat;
    background-position-y: 155px;
    background-position-x: -230px; */
}

.features-image > img {
    position: relative;
    top: 150px;
    right: 25px;
}

.awesome-app-features {
    padding-top: 200px;
    padding-right: 60px;
    width: fit-content;
}

.medium-heading {
    color: #242f51;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 0;
}

.awesome-app-features > p {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 85px;
}

.fast-performance, .prototyping, .vector-editing {
    height: 105px;
    width: 380px;
    display: flex;
    justify-content: space-between;
}

.fast-performance, .prototyping {
    margin-bottom: 60px;
}

.circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fast-performance .circle {
    background-color: #ffecef;
    margin-top: 20px;
}

.fast-performance .text {
    width: fit-content;
}

.fast-performance p {
    color: #F55767;
}

p.heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

div.text {
    /* word-wrap:; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #616368;
}

.prototyping p {
    color: #2563ff;
}

.vector-editing .heading{
    color: #40975f;
}

.prototyping .circle {
    background-color: #f4f4ff;
    margin-top: 15px;
}

.vector-editing .circle {
    background-color: #e4ffee;
    margin-top: 10px;
}

.advantages {
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.smart-jackpot-wrapper {
    height: 480px;
    width: 1045px;
    margin-top: 215px;
    display: grid;
    grid-template: 255px repeat(2, 1fr) / repeat(6, 1fr);
}


.automatic-payouts-logo{
    background-color: #ffecef;
    grid-column: 1 / 3;
}

.network-effect-logo {
    background-color: #f4f4ff;
    grid-column: 3 / span 2;
    margin-left: 35px;
}

.bigger-rewards-method-logo {
    background-color: #e4ffee;
    grid-column: 5 / span 2;
    margin-left: 75px;
}

.smart-jackpot-text{
    grid-column: 1 / span 3;    
    grid-row: 1;
}

.rise-of-mobile {
    grid-column: 4 / span 3;   
    grid-row: 1;
}

.automatic-payouts {
    grid-column: 1 / 3;
    grid-row: 3;
}

.network-effect {
    grid-column: 3 / 5;
    grid-row: 3;
    margin-left: 35px;
}

.bigger-rewards-method {
    margin-left: 75px;
    grid-column: 5 / -1;
    grid-row: 3;
}

[class$="-logo circle"] {
    margin-bottom: 30px;
}

.automatic-payouts > p {
    color: #f55767;
}

.network-effect > p {
    color: #2563ff;
}

.bigger-rewards-method > p{
    color: #40975f;
}

.smart-jackpot-text > .medium-heading {
    font-size: 40px;
    line-height: 50px;
    padding-right: 78px;
    border-right: 1px solid #b9b9b8;
}

.inner-text-advantages {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #616368;
}

.rise-of-mobile > p {
    position: relative;
    top: 40px;
    left: 35px;
}

/* Bozhena */

.code-integration-wrapper {
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.designed-man{
    margin-top: 120px;
    padding-bottom: 70px;
    border-bottom: 1px solid #f4f4f4;
    margin-right: 280px;

    height: 550px;
    background-image: url(https://cdn1.savepice.ru/uploads/2022/3/27/0807d98c0d477f643719089bdf1873b8-full.png);
    display: flex;
    margin-left: 140px;
    background-repeat: no-repeat;
    justify-content: center;
    flex-direction: column;
    padding-left: 710px;
    font-family: "Poppins";
    font-style: normal;
}

.designed-text{
    color: #242F51;
    width: 360px;  
    font-weight: 600;
    font-size: 36px;
    word-wrap: break-word;
    margin-top: 50px;
    margin-bottom: 30px;
}

.rise-text{
    color: #616368;
    width: 415px;
    font-weight: 400;
    font-size: 16px;
    word-wrap: break-word;
    margin-bottom: 30px;
}

.learn-more-btn{
    background-color: #2500f9;
    border: none;
    display: block;
    height: 57px;
    width: 170px; 
    border-radius: 999px    
}

.lm-btn-text {
    color: white;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: bold;
}

.learn-more-btn:hover {
    background-color: #8e7aff;
    cursor: pointer;
}

.get-awesome{
    height: 945px;
    width: 680px;
    text-align: center;
    align-items: center;
    font-family: "Poppins";
    font-style: normal;
    word-wrap: break-word;
    display: flex;
    margin: 0 auto; 
    flex-direction: column;
}

.ga-text{
    width: 575px; 
    font-weight: 600; 
    font-size: 36px;
    color: #242F51;
    margin-bottom: 30px;
}

.the-rise-text{
    color: #616368;
    font-size: 16px;
    font-weight: 400;
    width: 635px;
    margin-bottom: 80px;
    
}

.choice-btn{
    height: 60px;
    width: 290px;
    background-image: url(https://cdn1.savepice.ru/uploads/2022/3/27/efb6dfbb9b98c24d9441511b3b2f11e3-full.png);
    background-repeat: no-repeat;
    margin-bottom: 35px;
}

.buttons{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-left: 5px;
    margin-bottom: 35px;
}

.month-btn{
    background-color: #2500f9;
    border: none;
    height: 50px;
    width: 137px; 
    border-radius: 999px;
    margin: 0;
}

.m-btn-text{
    font-weight: 700; 
    font-size: 16px;
    color: white; 
    font-family: "Poppins";
    font-style: normal;
}

.y-btn-text{
    height: 30px;
    width: 137px;  
    margin-top: 13px;
    font-weight: 500; 
    font-size: 16px;
    color: #616368; 
    font-family: "Poppins";
    font-style: normal;
}

.month-btn:hover {
    background-color: #8e7aff;
    cursor: pointer;
}

.y-btn-text:hover{
    color: #000000;
    cursor: pointer;
}


.p-table{
    height: 605px;
    width: auto;
    border: 0;
    margin-top: 0;
}

.zero-month{
    background-image: url(https://cdn1.savepice.ru/uploads/2022/3/27/24e43babbb90b8f26add908dff019fc5-full.png);
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-repeat: no-repeat;
    height: 554px;
    width: 317px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    font-family: "Poppins";
    font-style: normal;
}

.empty{
    width: 42px;
    height: auto;
}

.pro-master{
    margin-top: 0px;
    background-image: url(https://cdn1.savepice.ru/uploads/2022/3/28/a9a31447ea4d96470a7fd55232fc3935-full.png);
    background-repeat: no-repeat;
    height: 605px;
    width: 325px;   
    flex-direction: column;
    font-family: "Poppins";
    font-style: normal;
}

.zer-dol-mon{   
    margin-left: 87px;
    margin-top: 70px;
    display: flex;
    flex-direction: row; 
}

.zero-nn-dol{    
    font-size: 60px;
    font-weight: 600;
    color: #242F51;
}

.per-month{
    font-size: 18px;
    font-weight: 400;
    display: flex;
    margin-top: 40px;
    color: #999CA5;
}

.nn-dol-mon{
    margin-top: 55px;
    margin-left: 63px;
    display: flex;
    flex-direction: row; 
}

.col-one{
    display: flex;
    flex-direction: column;
    margin-top: -65px;
    margin-left: auto;
    margin-right: auto;
}

.bus{
    font-size: 20px;
    font-weight: 600; 
    display: flex;
    color: #242F51;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.for-text{
    font-size: 16px;
    font-weight: 400; 
    display: flex;
    color: #999CA5;
    margin-left: auto;
    margin-right: auto;
}

.col-text{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    font-family: "Poppins";
    font-style: normal;
}

.col-text-line{
    font-size: 16px;
    color: #999CA5;
    margin: 0;
    margin-top: 20px;
}

.start-sub-btn{
    background-color: #2500f9;
    border: none;
    height: 57px;
    width: 210px; 
    border-radius: 999px;
    margin-top: 42px;
}

.ss-btn-text{
    font-weight: 600; 
    font-size: 16px;
    color: white; 
    font-family: "Poppins";
    font-style: normal;
}

.start-sub-btn:hover {
    background-color: #8e7aff;
    cursor: pointer;
}

.trail-btn{
    height: 18px;;
    width: 160px;
    color: #2500F9;
    font-weight: 400; 
    font-size: 16px;    
    margin: inherit;
    margin-top: 30px;
}

.trail-btn:hover{
    color: #8e7aff;
    cursor: pointer;
}


/*Anna*/
