* {
  margin-top: 0;
  padding: 0;
}

.engaging:hover {
    background-color: #86878b;
    border-style: groove;
    cursor: pointer;
}

.link {
    text-decoration: none; 
    color: inherit;
}

.nav-link > p:hover {
    color:#2500f9;
}

.watch-demo > p:hover {
    text-decoration: underline;
}

.home-section-wrapper {
    height: 1040px;
    padding: 0 20px;
    background-image: url('city.png'),  url('gray-dots.png');
    background-position-y: bottom, center;
    background-position-x: left, -130px;
    background-repeat: repeat-x, no-repeat;
    display: flex;
    justify-content: center;
}

.home-section {
    background-image: url('redbubble.png');
    background-size: 135%;
    background-position-x: -305px;
    background-position-y: 175px;
    background-repeat: no-repeat;
}

#navigation-header {
    border-bottom: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;  
}

#main-logo {
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    /* line-height: 32px; */
    width: 116px;
    margin-top: 95px; /*default = 14px*/
}

#logo {
    margin-right: 327px;
    /* display: inline-block */
}


.nav-buttons {
    width: 460px;
    height: 16px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 44px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    
}

p.black-text {
    margin-top: 100px;
}

.nav-button {
    margin-right: 36px;
    
    /* padding: 0; */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-basis: 100%;
}

.try-btn-box {
    height: auto;
    width: auto;
    text-align: center;
    margin-top: 92px;
    margin-left: 56px;
    
}

.try-button {
/*     display: flex;
    flex-basis: content; */
    background-color: #2500f9;
    border: none;
    display:block;
    height: 57px;
    width: 170px;
    /* margin-right: 215px; */
    
    border-radius: 999px
    
}

.try-btn-text {
    color: white;
    /* height: 18px; */
    font-family: "Poppins";
    font-size: 17px;
    font-weight: bold;
}
/* 
.last-el {
    margin-right: 56px;
} */

.black-text {
    color: black;
    white-space: nowrap;
}

#orange-text {
    color: orange;
}

.acheivements {
    margin-left: 30px; /*285-215*/
    height: 732px;
}

.pic-wrapper {
    margin-top: 40px;
    padding-top: 230px;
    background-image:url("phone1.png");
    background-repeat: no-repeat;
    background-position-x: 660px;
    /* background-color: #2500f9; */
}

.editors-choice {
    font-family: "Poppins";
    background-color: #e2eaed;
    width: fit-content;
    max-width: 362px;
    height: 36px;
    display: flex;
    border-radius: 999px;
    margin-bottom: 18px;
}

/* .editors-choice-text {
    margin-top: .3em;
} */

.centered {
    /* transform: translate(50%,); */
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.best-app-for-lifestyle {
    font-family: "Poppins";
    font-style: bold;
}

.editors-choice-text {
    display: flex;
    align-items: center;
    /* padding-right: 48px; */
    /* justify-content: center; */
}

.editors-choice-text p{
    white-space: nowrap;
    font-size: 18px;
    margin: 0 48px 0 10px;
    color: #242f51;
    font-weight: 500;
}

.best-app-for-lifestyle > h1 {
    font-size: 60px;
    line-height: 65px;
    font-weight: 600;
    color: #242f51;
    margin-bottom: 0;
}



.checkmark {
    background-color: orange;
    border-radius: inherit;
    width: 39px;
    min-width: 39px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkmark > svg {
    color: #ffff;
}

.acheivements > p, .awesome-app-features > p {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #616368;
    margin-top: calc(45px - 21px);
    margin-bottom: 40px;
}

.flex-row-container {
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex-row-container p {
    font-family: 'Poppins';
    color: #2500f9;
    margin: 0;
    font-weight: 500;
}

.trusted-by {
    margin-top: 80px;
    size: fit-content fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trusted-by > p {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins';
    margin-bottom: 32px;
}

.companies {
    list-style: none;
    margin-bottom: 0;
    width: 935px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.southwest > img {
    width: 133px;
    height: 42px;
}

.anubis > img {
    width: 118px;
    height: 84px;
}

.alonzo > img {
    width: 151px;
    height: 58px;
}

.premium > img {
    width: 123px;
    height: 71px;
}

.maniac > img {
    width: 147px;
    height: 51;
}

.features-section-wrapper {
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.features-section {
    width: 955px;
    display: flex;
    justify-content: flex-end;
}

.awesome-app-features {
    padding-top: 200px;
    padding-right: 60px;
    width: fit-content;
}

.awesome-app-features h1 {
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 0;
}

.awesome-app-features > p {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 85px;
}

.fast-performance, .prototyping, .vector-editing {
    height: 105px;
    width: 380px;
    display: flex;
    justify-content: space-between;
}

.fast-performance, .prototyping {
    margin-bottom: 60px;
}

.circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fast-performance .circle {
    background-color: #ffecef;
    margin-top: 20px;
}

.fast-performance .text {
    width: fit-content;
}

.fast-performance p {
    color: #F55767;
}

p.heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

div.text {
    /* word-wrap:; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #616368;
}

.prototyping p {
    color: #2563ff;
}

.vector-editing .heading{
    color: #40975f;
}

.prototyping .circle {
    background-color: #f4f4ff;
    margin-top: 15px;
}

.vector-editing .circle {
    background-color: #f4f4ff;
    margin-top: 10px;
}