/* .daniils-stylespace * {
    box-sizing: border-box;
}

.daniils-stylespace ul {
    padding: 0;
}

.daniils-stylespace {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #616368;
    font-weight: 400;

    overflow-x: hidden;
}

.daniils-stylespace .container {
    width: 1200px;
    margin: 0 auto;
}

/* Questions */

.daniils-stylespace .questions__header {
    max-width: 650px;
    margin: 0 auto 60px;

    text-align: center;
}

.daniils-stylespace .questions__content {
    max-width: 946px;
    margin: 0 auto;
}

.daniils-stylespace .questions__list-item {
    margin-top: 10px;
    padding: 21px 30px 14px 48px;

    display: flex;
    flex-direction: column;

    background-color: #f5f7fa;
    cursor: pointer;
}

.daniils-stylespace .questions__list-title {
    font-size: 20px;
    color: #242f51;
    font-weight: 500;
}

.daniils-stylespace .questions__list-btn {
    display: block;
    font-size: 36px;
    font-weight: 400;
    color: #242f51;

    border: none;
    background: inherit;
}

.daniils-stylespace .questions__list-btn.hidden {
    display: none;
}

.daniils-stylespace .question__list-content {
    display: none;
    justify-content: space-between;


    padding: 0px 30px 40px 48px;
    margin: 0;

    background-color: #f5f7fa;
}

.daniils-stylespace .question__list-content:enabled {
    display: flex;
}
 */
.daniils-stylespace .hidden {
    padding: 25px 40px 20px 50px;
}

.questions__list-item > .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
    margin: 0 0 35px 0;
    transition: inherit;
}

.daniils-stylespace .hidden> .head {
    margin: 0;
}

.daniils-stylespace .questions__list-title {
    color: #242f51;
    font-weight: 400;
    margin: 0;
    transition: inherit;
}

.daniils-stylespace .questions__list-btn {
    transition: inherit;
    transform: rotate(90deg);
    opacity: 0;
}

.daniils-stylespace .hidden>.head>.questions__list-btn {
    transform: rotate(0deg);
    opacity: 1;
}

.daniils-stylespace .questions__list-item > p {
    opacity: 1;
    height: 70px;
    transition: inherit;
    margin: 0 40px 60px 0;
}

.daniils-stylespace .hidden>p {
    opacity: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
}

.questions__list-item:not(.hidden) {
    cursor: auto;
}

.questions__list-item:not(.hidden) button {
    cursor: default;
}

.questions__list-item:not(.hidden) .questions__list-title {
    margin-top: 35px;
}